
/* colors */

// .color-oxford {
//   background-color: #0D203F;
// }
// .color-process {
//   background-color: #00B0ED;
// }
// .color-papaya {
//   background-color: #FEF4DD;
// }
// .color-cultured {
//   background-color: #F9F9FB;
// }

$oxford:#0D203F;
$process:#00B0ED;
$papaya:#FEF4DD;
$cultured:#F9F9FB;
