:root {
  --font-family-base: 'termina', Arial, sans-serif;
  --font-family-marker: 'Permanent Marker', cursive;
  --border-radius: 12px;
  --padding-base: 12px;
  --transition-duration: 0.3s;
  --shadow-hover: 0px 4px 12px rgba(0, 0, 0, 0.1);




    /* Primary Colors */
    --color-primary: #D72638; /* Primary Button */

  
    /* Background Colors */
    --color-bg: #1C1C1C; /* Background color */
    --color-bg-container: #2A2A2A; /* Light charchoal */
    --color-bg-crimson: rgb(215, 38, 56, .16); /* Crimson Opacity */
    
    
    /* Text */
    --color-text-primary: #E8E8E8; /* Soft white for text and icons */
    --color-text-secondary: #A3A3A3; /* Warm gray for subtle text */
    --color-text-accent: var(--color-primary); /* Muted cyan for a calm accent */
    
    
    
    
    /* Status Colors */
    --color-success: #2ecc71; /* Success Green */
    --color-warning: #f39c12; /* Warning Yellow */
    --color-danger: #e74c3c; /* Danger Red */
    --color-info: #3498db; /* Info Blue */
    
    /* Border Colors */
    --color-border: var(--color-bg-container);
    
    
  
    /* Font sizes */
    --font-size-base: 16px;
    --font-size-1: 20px;
    --font-size-2: 24px;
    --font-size-3: 32px;
    --font-size-4: 40px;
    --font-size-5: 56px;
    --font-size-6: 72px;

    /* Line heights */
    --line-height-base: 24px;
    --line-height-1: 28px;
    --line-height-2: 32px;
    --line-height-3: 40px;
    --line-height-4: 48px;
    --line-height-5: 64px;
    --line-height-6: 80px;
    
    /* Font weights for different heading levels */
    --font-weight-1: 300;    /* Light weight for H2 */
    --font-weight-2: 400;    /* Regular weight for ... */
    --font-weight-3: 500;    /* Medium weight for base */
    --font-weight-4: 600;    /* Demi weight for H3 */
    --font-weight-5: 700;    /* Bold weight for ... */
    --font-weight-6: 800;    /* Heavy weight for H1 */
}



* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  user-select: none;
  -webkit-user-drag: none;
  /* -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
}

main {
  margin:0 auto;
  max-width:1600px;
  padding:20px;
  }
@media (max-width:768px) {
  main {
    padding:16px;
    }
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }


@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }



article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


body {
  background: var(--color-bg);
  color:var(--color-text-primary);
  font-family: var(--font-family-base);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  transition: background-color 1s ease;
  -webkit-animation: fadeIn 2000ms;
  -moz-animation: fadeIn 2000ms;
  animation: fadeIn 2000ms;
  }

  ::selection {
    color: var(--color-text-accent);
  }


p {
  line-height: 24px;
  display: block;
  margin: 0;
  text-align: left;
  transition: height ,5s;
  -webkit-transition: height ,5s;
  -moz-transition: height ,5s;
}


a {
  text-decoration: none;
  color: var(--color-text-primary);
}


a:hover, a:active {
  color: var(--color-text-primary);
}


li {
  text-align: left;
  list-style-position: inside;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
}


h1 {
  font-size: 72px;
  line-height: 88px;
  font-weight: 800;
  }
h1 span {
  background-image: -webkit-linear-gradient(60deg, rgb(175, 87, 254), rgb(127, 112, 254), rgb(141, 208, 255));
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h2 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
}


h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  text-align: left;
}

h3 span {
  color: var(--color-text-accent);
}


h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}


h5 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

h5.overline {
  text-align: center;
}


.overline {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom:12px;
  }

.underline {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    padding-top: 12px;
    color: var(--color-text-secondary);
  }

.section-title {
  margin:0 auto;
  margin-top: 120px;
  margin-bottom: 80px;
  max-width: 1280px;
}
@media (max-width:992px) {
  .section-title {
    margin-top: 72px;
    margin-bottom: 72px;
  }
}
@media (max-width:768px) {
  .section-title {
    margin-top: 36px;
    margin-bottom: 36px;
    }
  h1 {
      font-size: 48px;
      line-height: 56px;
    }
  h2 {
    font-size: 32px;
    line-height: 40px;
    }
}

.abt-detail {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1280px;
  justify-content: space-between;
  margin-bottom: 72px;
  width:100%;
  /* -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; */
}
.abt-detail > div {
  width:25%;
  padding:20px;
}

@media (max-width:1200px) {
  .abt-detail > div {
    width:48%;
    padding:24px 0px;
  }
}

@media (max-width:992px) {
  .abt-detail {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 48px;
  }
  .abt-detail > div {
    width:100%;
  }
}



hr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top:112px;
  margin-bottom:112px;
  border: 1px solid var(--color-border);
  max-width: 1280px;
}


.contact-wrap {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1280px;
  justify-content: space-between;
  margin-bottom: 72px;
  width:100%;
}

.contact-wrap > div {
  width:50%;
  padding:24px;
}

@media (max-width:768px) {
  .contact-wrap {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.contact-wrap > div {
  width:50%;
}

@media (max-width:768px) {
  .contact-wrap > div {
    width:100%;
    padding-bottom: 48px;
  }
}


.chip-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin:16px 0px;
  width:100%;
}

.chip {
  padding: 10px 12px;
  margin-right:8px;
  margin-top:8px;
  margin-bottom:6px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border-radius: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-text-primary);
  background-color: var(--color-bg);
}


.edu-wrap {
  margin: 0 auto;
  display: flex;
  flex-wrap: row;
  margin-top:96px;
  max-width: 1280px;
  width:100%;
}
@media (max-width:992px) {
  .edu-wrap {
    flex-direction: column;
    align-items: center;
    margin-top:48px;
  }
}


.edu {
  position: relative;
  top:0px;
  transition: .3s ease-in-out;
  margin-bottom:24px;
  border-radius: 12px;
  padding: 48px;
  margin: 16px;
  background-color: var(--color-bg-container);
}
@media (max-width:776px) {
    .edu {
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin: 16px;
  }
}

.edu:hover {
  top:-12px;
}


.edu h5 {
  text-align:left;
}





.job-wrap {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
}
@media (max-width:768px) {
  .job-wrap > div {
    flex-direction: column;
    align-items: center;
  }
}


.job {
  position: relative;
  top:0px;
  transition: .3s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  width:100%;
  border-radius: 12px;
  padding: 64px 48px;
  margin:16px;
  background-color: var(--color-bg-container);
}
@media (max-width:768px) {
  .job {
    flex-direction: column;
    align-items: center;
    margin:16px 0px;
  }
}

.job .overline {
  text-align: left;
}

.job:hover {
top: -12px;
}


.job .overview {
  width:40%;
  padding-right:24px;
}
@media (max-width:992px) {
  .job .overview {
    width:100%;
  }
}

.job .detail {
  width:60%;
}
@media (max-width:992px) {
  .job .detail {
    width:100%;
  }
}

.skillset {
  margin: 0 auto;
  font-size: 66px;
  line-height:104px;
  font-weight: 700;
  padding: 48px;
  max-width: 1280px;
  color: var(--color-text-secondary);
  text-align: center;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  margin-top:112px;
  margin-bottom:48px;
}

@media (max-width:992px) {
  .skillset {
    width:100%;
    font-size: 40px;
    font-weight:700;
    line-height: 56px;
    padding: 24px 16px;
  }
}

@media (max-width:768px) {
  .skillset {
    width:100%;
    font-size: 32px;
    font-weight:700;
    line-height: 56px;
    padding: 24px 16px;
  }
}

span.dot { 
    vertical-align: middle;
    color: var(--color-text-accent);
  }
    


::placeholder {
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-bg-container);
}

.btn {
  font-family: inherit;
  border: 2px solid var(--color-primary);
  color: var(--color-text-primary);
  background-color: var(--color-primary);
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  min-width: 200px;
  letter-spacing: .8px;
  line-height: 24px;
  height:48px;
  text-transform: uppercase;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn:hover {
  color: var(--color-primary);
  background:transparent;
}


.caption {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 32px;
}



.passport-wrap {
  margin: 0 auto;
  display: flex;
  flex-wrap: row;
  width: 100%;
  max-width: 1280px;
  }
@media (max-width:992px) {
  .passport-wrap {
    flex-direction: column;
    align-items: center;
  }
}


.passport {
  position: relative;
  top:0px;
  transition: .3s ease-in-out;
  border-radius: 12px;
  background-color: var(--color-bg-container);
  padding: 48px;
  margin: 16px;
  width: 100%;
}

.passport:hover {
  top:-12px;
}

.passport p {
  text-align:center;
  padding:64px 48px;
}



.flag {
  margin:0 auto;
  width:120px;
  height:120px;
  background-size: 120px;
  background-repeat: no-repeat;
  margin-bottom:48px;
  border-radius: 50%;
}


.flag.tr {
    background-image: url("../img/resume/flags/tr.flag.svg");
}
.flag.uk {
    background-image: url("../img/resume/flags/uk.flag.svg");
}
.flag.de {
    background-image: url("../img/resume/flags/de.flag.svg");
}



.social {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8px;
}

.social li {
  display: inline-block;
  }

.social a {
  display: inline-block;
  padding: 8px 12px;
  color: var(--color-text-primary);
  -webkit-transition: color 100ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: color 100ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: color 100ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social a:hover {
  color:var(--color-text-secondary);
}




/* Add a separator between sections */

  .section-separator {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 48px 0px;
  }

  .section-separator p {
    padding: 1em;
  }

  .section-separator::before,
  .section-separator::after {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    content: " ";
    height: 0px;
    border: 1px solid var(--color-border);
  }



/* Featured section on homepage */

.featured-wrapper {
  margin: 0 auto;
  width:100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.featured {
  position: relative;
  top:0px;
  width: 50%;
  transition: .3s ease-in-out;
  padding:20px;
}
@media (max-width:992px) {
  .featured {
    width: 100%;
    padding:12px;
  }
}
@media (max-width:768px) {
  .featured {
    width: 100%;
    padding:12px;
  }
}

.featured:hover {
  top:-12px;
}

.featured-img {
  border: 1px solid rgba(13, 32, 63, .08);
  border-radius: 24px;
}

.featured-vid {
  border: 1px solid rgba(13, 32, 63, .08);
  border-radius: 24px;
  width:100%;
  
  background-color: var(--color-bg-container);
}





.flex-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.thumbs {
  position: relative;
  top:0px;
  width: 33%;
  transition: .3s ease-in-out;
  padding:20px;
}

.thumbs img {
  border-radius: 24px;
}

@media (max-width: 992px) {
  .thumbs {
  width: 50%;
  padding:12px;
     }
  }

@media (max-width: 600px) {
  .thumbs {
  width: 100%;
  padding:12px;
     }
}

.thumbs:hover {
  top:-12px;
}




.title {
  color: var(--color-text-secondary);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}





/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  height:56px;
  padding: 12px; /* Some padding */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--color-primary);
  padding: 12px 40px;
  cursor: pointer;
  height:56px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

/* Add a background color and some padding around the form */
.contact-container {
  margin: 0 auto;
  border-radius: 12px;
  padding: 20px;
  max-width:640px;
  margin-bottom: 120px;
  text-align: left;
}


nav {
  font-weight: 600;
}
@media (max-width:992px) {
  nav {
    padding:0px 12px;
  }
}

/* Header styling */
.header {
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;         
  top: 0;                   
  z-index: 1000;            
  background-color: var(--color-bg-container);
}

/* Style the header links */
.header a {
  float: left;
  color: var(--color-text-primary);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  padding:24px;
}
@media (max-width:992px) {
  .header a {
    padding-left:12px;
    padding-right:12px;
  }
}

/* Change the color on mouse-over */
.header a:hover {
  color: var(--color-text-secondary);
}

/* Style the active/current link*/
.header a.active {
  color: var(--color-text-accent);
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* When the screen is less than 992 pixels wide, hide all links, except for the Logo. Show the link that contains should open and close the header */
@media screen and (max-width: 992px) {
  .header a:not(.logo) {display: none;}
  .header a.icon {
    float: right;
    display: block;
  }
}


/* The "responsive" class is added to the header with JavaScript when the user clicks on the icon. This class makes the header look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 992px) {
  .header.responsive {position: relative;}
  .header.responsive a.icon {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

}

/* Hide the link that should open and close the header on small screens */
.header .icon {
  display: none;
}


/* My Process */
.process {
  margin:auto;
  max-width:1280px;
  margin-bottom:20px;
}

.process p {
  margin:24px 0px;
  font-weight: 500;
  letter-spacing: normal;
  text-transform: none;
}

.process h4 {
  text-align: left;
  margin:20px 0px;
  font-weight: 700;
}

.process-description {
  text-align: center;
  margin: 24px 0px;
}

.process-container {
  border: 1px solid;
  border-color: rgba(13, 32, 63, .16);
  border-radius: 12px;
  padding:40px;
  background-color: var(--color-bg-container);
}
@media (max-width:768px) {
  .process-container {
    padding:20px;
  }
}

.process-loop {
  background-image: url(../img/about/loop@2x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 72%;
  height: 320px;
  margin:80px 0px;
}
@media (max-width:992px) {
  .process-loop {
  background-size: 100%;
  height: 280px;
  }
}
@media (max-width:768px) {
  .process-loop {
  background-size: 100%;
  height: 220px;
  }
}


.process-content-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width:992) {
  .process-content-block {
  flex-direction: column;
  }
}

.process-content-block > div {
  width: 32%;
  padding:20px;
  border-radius: 12px;
  font-size:12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
@media (max-width:992px) {
  .process-content-block > div {
  width: 100%;
  margin:10px 0px;
  }
}

.process-step {
  position: relative;
  top:0px;
  transition: .3s ease-in-out;
}
.process-step:hover {
  top:-12px;
}



/* Avatars */
.avtr {
  position: relative;
  top:0px;
  margin:0 auto;
  background-size: 160px;
  background-repeat: no-repeat;
  margin-bottom:36px;
  border-radius: 50%;
  height: 72px;
  width: 72px;
  background-size: 72px;
  background-repeat: no-repeat;  
  transition: .3s ease-in-out;
}
@media (max-width: 992px) {
  .avtr {
  padding-bottom: 24px;
     }
  }
@media (max-width: 768px) {
  .avtr {
  padding-bottom: 24px;
     }
  }

  
  .avtr:hover {
    top:-12px;
  }


  .avtr-bulent {
    background-image: url("../img/avatar/avtr.bulent.400@2x.jpg");
    background-size: 160px;
    height: 160px;
    width: 160px;
  }

  .avtr-tobias {
    background-image: url("../img/avatar/avtr.tobias.400@2x.jpg");
  }
  .avtr-daniel {
    background-image: url("../img/avatar/avtr.daniel.400@2x.jpg");
  }
  

/* Testimonial */
.testimonial-wrap {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
}


.testimonial {
  position: relative;
  top: 0px;
  font-family: var(--font-family-marker);
  font-weight: 400;
  text-align: center;
  background: var(--color-bg-container);
  border-radius: 12px;
  padding: 72px;
  margin: 20px 0px;
  width: 48%;
  transition: .3s ease-in-out;
}

.testimonial:hover {
  top: -12px;
}

@media (max-width: 787px) {
  .testimonial {
    width: 100%;
  }
}

.testimonial p {
  color: var(--color-text-secondary);
  font-size: var(--font-size-4);
  text-align: center;
  line-height: var(--line-height-3); 
  transition: color 0.3s ease-in-out; 
}

@media (max-width: 992px) {
  .testimonial p {
    font-size: var(--font-size-3);
  }
}



/* Hover effect on the parent .testimonial element */
.testimonial:hover p {
  color: var(--color-text-accent);  /* Change the color of the <p> text when .testimonial is hovered */
}


.testimonial .author {
  color: var(--color-text-secondary);
  padding-top:48px;
  font-family: var(--font-family-base);
  font-size:var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-3);
 }

 

/* FAQ */
.faq-wrap {
  margin:auto;
  margin-top: 120px;
  width: 100%;
  max-width:1280px;
}

.faq-description {
  text-align: center;
  margin: 24px 0px;
}





.accordion {
  margin: 0px auto;
  cursor: pointer;
  transition: 0.4s;
  max-width:1280px;
}

.accordion .container {
  position: relative;
  margin: 24px 0px;
  background-color: var(--color-bg-container);
  border-radius: 8px;
  padding: 0px 24px;
}

.accordion .container:hover {
  color: var(--color-text-accent);
}

.accordion .label {
  position: relative;
  text-align: left;
  padding: 24px 0px;
}

.accordion .label:hover {
  color: var(--color-text-accent);
}

.accordion .label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 24px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  background: transparent;
  height: 0;
  text-align: left;
  overflow: hidden;
  transition: 0.5s;
}

.accordion .container.active .content {
  height: 160px;

@media (max-width: 787px) {
  height: 240px;
  }
}

.accordion .container.active .label::before {
  content: '-';
  font-size: 24px;
}






/* back to top */

.backtotop {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}


.icon {
  stroke: var(--color-text-secondary);
}

.icon:hover {
  stroke: var(--color-primary);
}

/* John Hancock */
.jancock {
  color: var(--color-text-secondary);
  text-align: center;
}

/* Footer */
footer {
  margin: 0 auto;
  margin-top: 72px;
  padding-bottom: 144px;
}






/* Slider Container Styles */
.slider-container {
  width: 100%;
  background-color: var(--color-bg-crimson);
  overflow: hidden;
  position: relative;
  padding: 32px 0px;
}


/* Text Slider Styles */
.slider-text {
  display: flex;
  width: 200%;  /* Set width to 200% to accommodate both sets of text */
  animation: slide 20s linear infinite;
}


/* Individual Text Styles */
.slider-text p {
  margin: 0 50px;  /* Space between text */
  font-size: 40px;
  font-weight: 600;
  color: var(--color-primary);
  white-space: nowrap;
  text-align: center;
}



/* Smooth infinite scrolling animation */
@keyframes slide {
  0% {
    transform: translateX(0);  /* Start with both sets aligned */
  }
  25% {
    transform: translateX(-25%); /* Move to the left as the first set starts exiting */
  }
  50% {
    transform: translateX(-50%); /* Halfway point, first set almost fully out */
  }
  75% {
    transform: translateX(-75%); /* Move further left, second set entering view */
  }
  100% {
    transform: translateX(-100%); /* Fully scroll to the left, second set takes full view */
  }
}

