:root {
  --font-family-base: 'termina', Arial, sans-serif;
  --font-family-marker: 'Permanent Marker', cursive;
  --border-radius: 12px;
  --padding-base: 12px;
  --transition-duration: 0.3s;
  --shadow-hover: 0px 4px 12px rgba(0, 0, 0, 0.1);



    /* Primary Colors */
    --color-primary: #F55454; /* Primary Button */

  
    /* Background Colors */
    --color-bg: #1C1C1C; /* Background color */
    --color-bg-container: #2A2A2A; /* Light charchoal */
    --color-bg-accent: rgba(245, 84, 84, .16); /* Crimson Opacity */
    
    
    /* Text */
    --color-text-primary: #E8E8E8; /* Soft white for text and icons */
    --color-text-secondary: #A3A3A3; /* Warm gray for subtle text */
    --color-text-accent: var(--color-primary); /* Crimson for accents */
    

    /* Status Colors */
    --color-success: #2ecc71; /* Success Green */
    --color-warning: #f39c12; /* Warning Yellow */
    --color-danger: #e74c3c; /* Danger Red */
    --color-info: #3498db; /* Info Blue */
    


    /* Border Colors */
    --color-border: var(--color-bg-container);
    

  
    /* Font sizes */
    --font-size-caption: 12px;
    --font-size-base: 16px;
    --font-size-1: 24px;
    --font-size-2: 28px;
    --font-size-3: 32px;
    --font-size-4: 36px;
    --font-size-5: 48px;
    --font-size-6: 72px;
    --font-size-hero: 156px;
    


    /* Line heights */
    --line-height-base: 1.6;
    --line-height-title: 1.4;
    --line-height-hero: 1.2;
    


    /* Font weights for different heading levels */
    --font-weight-3: 300;    /* Light weight for H2 */
    --font-weight-4: 400;    /* Regular weight for ... */
    --font-weight-5: 500;    /* Medium weight for base */
    --font-weight-6: 600;    /* Demi weight for H3 */
    --font-weight-7: 700;    /* Bold weight for ... */
    --font-weight-8: 800;    /* Heavy weight for H1 */
}


* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  /* user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;*/
} 


main {
  margin:0 auto;
  max-width:1600px;
  padding:20px;
  }
@media (max-width:768px) {
  main {
    padding:16px;
    }
}



@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }


@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }


@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }



article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


body {
  background: var(--color-bg);
  color:var(--color-text-primary);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-5);
  line-height: var(--line-height-base);
  -webkit-font-smoothing: antialiased;
  transition: background-color 1s ease;
  -webkit-animation: fadeIn 2000ms;
  -moz-animation: fadeIn 2000ms;
  animation: fadeIn 2000ms;
  }

  ::selection {
    background-color: var(--color-bg-accent); /* Change this to your desired highlight color */
  }


p {
  display: block;
  margin: 0;
  transition: height ,5s;
  -webkit-transition: height ,5s;
  -moz-transition: height ,5s;
}


a {
  text-decoration: none;
  color: var(--color-text-primary);
}


a:hover, a:active {
  color: var(--color-text-primary);
}


li {
  text-align: left;
  list-style-position: inside;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
}


h1 {
  font-size: var(--font-size-6);
  line-height: var(--line-height-title);
  font-weight: var(--font-weight-8);
  }
h1 span {
  background-image: -webkit-linear-gradient(60deg, rgb(175, 87, 254), rgb(127, 112, 254), rgb(141, 208, 255));
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h2 {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-6);
  line-height: var(--line-height-title);
}


h3 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-6);
  line-height: var(--line-height-title);
}


h3 span {
  color: var(--color-text-accent);
}


h4 {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-6);
  line-height: var(--line-height-hero);
}

h4 span {
  color: var(--color-text-accent);
}


h5 {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-6);
  line-height: var(--line-height-title);
}


.overline {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom:12px;
    color: var(--color-text-secondary);
  }


.underline {
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    text-align: left;
    padding-top: 12px;
    color: var(--color-text-secondary);
    font-size: var(--font-size-base);
  }


  


.section-title {
  margin:0 auto;
  margin-top: 120px;
  margin-bottom: 80px;
  font-size: var(--font-size-hero);
  font-weight: var(--font-weight-8);
  line-height: var(--line-height-title);
  max-width: 100%;
  text-align: center; 
  color: var(--color-text-accent);
}

.section-title h4 {
  color: #A3A3A3;
}


@media (max-width:1280px) {
  .section-title {
    font-size: var(--font-size-6);
    line-height: var(--line-height-title);
  }

  .section-title h4 {
    font-size: var(--font-size-2);
    line-height: var(--line-height-base);
    color: #A3A3A3;
  }

}

@media (max-width:768px) {
  .section-title h4 {
    font-size: var(--font-size-base);
    margin-bottom: 16px;
    }

    .section-title h4 {
      color: #A3A3A3;
    }
}





.rotating-text {
  position: relative;
  height: 300px;
}

@media (max-width:1280px) {
  .rotating-text {
  height: 120px;
  }
}

@media (max-width:768px) {
  .rotating-text {
  height: 48px;
  }
}


.translation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0; /* Ensure hidden initially */
  transform: scale(0.8);
  animation: flip-text 2s ease-in-out forwards;
  pointer-events: none; /* Prevent interaction */
}



@keyframes flip-text {
  0% { transform: rotateX(90deg); opacity: 0; }
  20% { transform: rotateX(0); opacity: 1; }
  70% { transform: rotateX(0); opacity: 1; }
  90% { transform: rotateX(-90deg); opacity: 0; }
  100% { transform: rotateX(-90deg); opacity: 0; }
}



.abt {
  margin-top: 120px;
  margin-bottom: 120px;
  text-align: center;
}

.abt-detail {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1280px;
  justify-content: space-between;
  margin-bottom: 72px;
  width:100%;
  /* -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; */
}
.abt-detail > div {
  width:25%;
  padding:20px;
}

@media (max-width:1200px) {
  .abt-detail > div {
    width:48%;
    padding:24px 0px;
  }
}

@media (max-width:992px) {
  .abt-detail {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 48px;
  }
  .abt-detail > div {
    width:100%;
  }
}



hr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top:112px;
  margin-bottom:112px;
  border: 1px solid var(--color-border);
  max-width: 1280px;
}


.contact-wrap {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1280px;
  justify-content: space-between;
  margin-bottom: 72px;
  width:100%;
}

.contact-wrap > div {
  width:50%;
  padding:24px;
}

@media (max-width:768px) {
  .contact-wrap {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.contact-wrap > div {
  width:50%;
}

@media (max-width:768px) {
  .contact-wrap > div {
    width:100%;
    padding-bottom: 48px;
  }
}



.resume {
  margin: 0 auto;
  display: grid;
  margin-top: 80px;
  margin-bottom: 120px;
  grid-gap: 32px; /* Adds space between sub-sections */
  max-width: 1280px;
  width:100%;
}

@media (max-width:992px) {
  .resume {
    grid-gap: 16px; /* Adds space between sub-sections */
  }
}

.resume-title p {
  margin: 0 auto;
  margin-top: 120px;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-3);
  text-align: center;
  max-width: 1280px;
}
@media (max-width:1200px) {
  .resume-title p {
    font-size: var(--font-size-4);
    padding: 24px;
  }
}
@media (max-width:768px) {
  .resume-title p {
    font-size: var(--font-size-2);
    line-height: var(--line-height-title);
    padding: 16px;
  }
}




.edu-wrap {
  margin: 0 auto;
  margin-top:96px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  grid-gap: 32px; /* Adds space between the two columns */
  max-width: 1280px;
  width:100%;
}
@media (max-width:992px) {
  .edu-wrap {
    flex-direction: column;
    align-items: center;
    margin-top:48px;
    grid-template-columns: 1fr; /* Changes to a single column */
    grid-gap: 16px; /* Adds space between the two columns */
  }
}



.edu {
  position: relative;
  top:0px;
  transition: .3s ease-in-out;
  border-radius: 12px;
  padding: 72px 40px;
  background-color: var(--color-bg-container);
}
@media (max-width:768px) {
    .edu {
    flex-direction: column;
    align-items: center;
    padding: 48px 24px;
  }
}


.edu:hover {
  top:-12px;
}


.edu h5 {
  text-align:left;
}

.edu h4 {
  line-height: 1.2;
}



.job-wrap {
  margin: 0 auto;
  display: grid;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  grid-gap: 32px; 
}
@media (max-width:992px) {
  .job-wrap { 
    flex-direction: column;
    align-items: center;
    grid-gap: 16px; 
  }
}



/* Job container using Grid */
.job {
  position: relative;
  top:0px;
  transition: .3s ease-in-out;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  grid-gap: 112px; /* Adds space between the two columns */
  width: 100%;
  border-radius: 12px;
  padding: 72px 40px;
  background-color: var(--color-bg-container);
}

/* Responsive behavior for the job item */
@media (max-width: 992px) {
  .job {
    grid-template-columns: 1fr; /* Single column layout */
    padding: 48px 24px;
    grid-gap: 48px; /* Adds space between the two columns */
  }
}


.job .overline {
  text-align: left;
}

.job:hover {
top: -12px;
}

.job:hover .chip {
  color: var(--color-text-primary); /* Change this to your desired text color */
}



/* .job hover effect for both the logo and the detail text */
.job:hover .company-logo {
  filter: grayscale(0%); /* Color logo when hovering over .job */
  opacity: 1;
}

.job:hover .detail span {
  color: var(--color-text-accent); /* Change text color when hovering over .job */
}

/* Position the logo in the bottom left corner */
.company-logo-link {
  margin-top: auto; /* Push the logo to the bottom */
  display: inline-block;
  padding-top: 32px;
}

/* Default grayscale logo */
.company-logo {
  filter: grayscale(100%);
  transition: filter 0.3s ease; /* Smooth transition for hover effect */
  max-height: 56px;
  max-width: 240px;
  opacity: 0.5; /* Make black and white logos less prominent */
}


.overview {
  position: relative;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: flex-start; /* Align items at the top */
  height: 100%; /* Ensure the height fills the available space */
}


.chip-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin:16px 0px;
  width:100%;
}

.chip {
  padding: 10px 12px;
  margin-right:8px;
  margin-top:8px;
  margin-bottom:6px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border-radius: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-text-secondary);
  background-color: var(--color-bg);
}






.skillset {
  margin: 0 auto;
  color: var(--color-text-secondary);
  font-size: var(--font-size-6);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-7);
  max-width: 1280px;
  text-align: center;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  margin-top:120px;
  margin-bottom:120px;
}

@media (max-width:992px) {
  .skillset {
    width:100%;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-6);
    padding: 24px 16px;
  }
}

@media (max-width:768px) {
  .skillset {
    width:100%;
    font-size: var(--font-size-3);
    padding: 24px 16px;
  }
}

span.dot { 
    vertical-align: middle;
    color: var(--color-text-accent);
  }
    


::placeholder {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-4);
  color: var(--color-bg-container);
}

.btn {
  display: block;
  margin: auto;
  font-family: inherit;
  border: 2px solid var(--color-primary);
  color: var(--color-bg);
  background-color: var(--color-primary);
  padding: 12px 32px;
  text-decoration: none;
  font-size: var(--font-size-caption);
  font-weight: var(--font-weight-6);
  min-width: 200px;
  letter-spacing: .8px;
  line-height: 24px;
  height:48px;
  text-transform: uppercase;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn:hover {
  color: var(--color-primary);
  background:transparent;
}


.caption {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 32px;
}



.passport-wrap {
  margin: 0 auto;
  display: grid;
  flex-wrap: row;
  grid-template-columns: 1fr 1fr 1fr; /* Two equal-width columns */
  grid-gap: 32px; /* Adds space between the two columns */
  width: 100%;
  max-width: 1280px;
  }
@media (max-width:992px) {
  .passport-wrap {
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
    grid-gap: 16px; /* Adds space between the two columns */
  }
}


.passport {
  position: relative;
  top:0px;
  transition: .3s ease-in-out;
  border-radius: 12px;
  background-color: var(--color-bg-container);
  padding: 40px;
  text-align: center;
}

.passport:hover {
  top:-12px;
}

.passport p {
  text-align:center;
  padding:72px 24px;
}



.flag {
  margin:0 auto;
  width:120px;
  height:120px;
  background-size: 120px;
  background-repeat: no-repeat;
  margin-bottom:48px;
  border-radius: 50%;
}


.flag.tr {
    background-image: url("../img/resume/flags/tr.flag.svg");
}
.flag.uk {
    background-image: url("../img/resume/flags/uk.flag.svg");
}
.flag.de {
    background-image: url("../img/resume/flags/de.flag.svg");
}



.social {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8px;
}

.social li {
  display: inline-block;
  }

.social a {
  display: inline-block;
  padding: 8px 12px;
  color: var(--color-text-primary);
  -webkit-transition: color 100ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: color 100ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: color 100ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social a:hover {
  color:var(--color-text-accent);
}




/* Add a separator between sections */

  .section-separator {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 48px 0px;
  }

  .section-separator p {
    padding: 1em;
  }

  .section-separator::before,
  .section-separator::after {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    content: " ";
    height: 0px;
    border: 1px solid var(--color-border);
  }



/* Featured section on homepage */

.featured-wrapper {
  margin: 0 auto;
  width:100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.featured {
  position: relative;
  top:0px;
  width: 50%;
  /*filter: grayscale(100%);  Add grayscale filter */
  transition: .3s ease-in-out;
  padding:20px;
}
@media (max-width:992px) {
  .featured {
    width: 100%;
    padding:16px;
    filter: grayscale(0%); /* Remove grayscale filter on hover */
  }
}
@media (max-width:768px) {
  .featured {
    width: 100%;
    padding:16px;
    filter: grayscale(0%); /* Remove grayscale filter on hover */
  }
}

.featured:hover {
  top:-12px;
  filter: grayscale(0%); /* Remove grayscale filter on hover */
}

.featured-img {
  border: 1px solid rgba(13, 32, 63, .08);
  border-radius: 24px;
}

.featured-vid {
  border: 1px solid rgba(13, 32, 63, .08);
  border-radius: 24px;
  width:100%;
  
  background-color: var(--color-bg-container);
}





.flex-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.thumbs {
  position: relative;
  top:0px;
  width: 33%;
  transition: .3s ease-in-out;
  padding:20px;
  /*filter: grayscale(100%);  Add grayscale filter */
}

.thumbs img {
  border-radius: 24px;
}

@media (max-width: 992px) {
  .thumbs {
  width: 50%;
  padding:12px;
  filter: grayscale(0%); /* Remove grayscale filter on hover */
     }
  }

@media (max-width: 768px) {
  .thumbs {
  width: 100%;
  padding:16px;
  filter: grayscale(0%); /* Remove grayscale filter on hover */
     }
}

.thumbs:hover {
  top:-12px;
  filter: grayscale(0%); /* Remove grayscale filter on hover */
}




.title {
  color: var(--color-text-secondary);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}





/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  height:56px;
  padding: 12px; /* Some padding */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--color-primary);
  padding: 12px 40px;
  cursor: pointer;
  height:56px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

/* Add a background color and some padding around the form */
.contact-container {
  margin: 0 auto;
  border-radius: 12px;
  padding: 20px;
  max-width:640px;
  margin-bottom: 120px;
  text-align: left;
}


nav {
  font-weight: var(--font-weight-6);
}



/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-container);
  overflow: hidden;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out; /* Smooth transition for responsive state */
}

/* Left section styling (avatar and name) */
.header-left {
  display: flex;
  align-items: center;
}


.header-logo {
  width: 48px;
  height: 48px;
  border-radius: 50%; /* Make it a circular avatar */
  margin-right: 16px;
  background-color: var(--color-primary);
}


/* Style the header links */
.header a {
  float: left;
  color: var(--color-text-primary);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 24px;
}

@media (max-width: 992px) {
  .header a {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/* Change the color on mouse-over */
.header a:hover {
  color: var(--color-text-secondary);
}

/* Style the active/current link */
.header a.active {
  color: var(--color-text-accent);
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* When the screen is less than 992 pixels wide, hide all links, except for the Logo. Show the link that contains the hamburger icon */
@media screen and (max-width: 992px) {
  .header a:not(.logo) {
    display: none;
  }

  .header a.icon {
    float: right;
    display: block;
  }

  /* Links container displayed below the header when in "responsive" mode */
  .header-links {
    display: block;
    text-align: left;
    padding: 24px 54px;
    background-color: var(--color-bg-container);
  }

  /* Each link will stack vertically */
  .header-links a {
    display: block;
    padding: 12px 24px;
  }

  /* Hide the links container by default when screen is above 992px */
  .header-links {
    display: none;
  }
}

/* Hide the link that should open and close the header on small screens */
.header .icon {
  display: none;
}

/* Add rule to hide the links when screen width exceeds 992px */
@media screen and (min-width: 992px) {
  .header-links {
    display: none;
  }
}






/* Avatars */
.avatar {
  position: relative;
  top:0px;
  margin:0 auto;
  background-size: 160px;
  background-repeat: no-repeat;
  margin-bottom:36px;
  border-radius: 50%;
  height: 72px;
  width: 72px;
  background-size: 72px;
  background-repeat: no-repeat;  
  transition: .3s ease-in-out;
}
@media (max-width: 992px) {
  .avatar {
  padding-bottom: 24px;
     }
  }
@media (max-width: 768px) {
  .avatar {
  padding-bottom: 24px;
     }
  }

  
  .avatar:hover {
    top:-12px;
  }


  .bulent {
    background-image: url("../img/avatar/bulent.keles.bw@2x.png");
    background-color: var(--color-primary);
    background-size: 160px;
    height: 160px;
    width: 160px;
  }

  .bulent:hover {
    background-image: url("../img/avatar/bulent.keles.color@2x.png");
  }

  .tobias {
    background-image: url("../img/avatar/avtr.tobias.400@2x.jpg");
  }
  .daniel {
    background-image: url("../img/avatar/avtr.daniel.400@2x.jpg");
  }
  

/* Testimonial */
.testimonial-wrap {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
}


.testimonial {
  position: relative;
  top: 0px;
  text-align: center;
  background: var(--color-bg-container);
  border-radius: 12px;
  padding: 72px 48px;
  margin: 20px 0px;
  width: 48%;
  transition: .3s ease-in-out;
}

.testimonial:hover {
  top: -12px;
}

@media (max-width: 768px) {
  .testimonial {
    width: 100%;
  }
}

.testimonial p {
  font-family: var(--font-family-marker);
  color: var(--color-text-secondary);
  font-size: var(--font-size-5);
  line-height: var(--line-height-title); 
  text-align: center;
  transition: color 0.3s ease-in-out; 
}

@media (max-width: 992px) {
  .testimonial p {
    font-size: var(--font-size-3);
  }
}

@media (max-width: 768px) {
  .testimonial p {
    font-size: var(--font-size-2);
  }
}



/* Hover effect on the parent .testimonial element */
.testimonial:hover p {
  color: var(--color-text-accent);  /* Change the color of the <p> text when .testimonial is hovered */
}


.testimonial .author {
  color: var(--color-text-secondary);
  padding-top:48px;
  font-family: var(--font-family-base);
  font-size:var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-3);
 }

 

/* FAQ */
.faq-wrap {
  margin:auto;
  margin-top: 120px;
  width: 100%;
  max-width:1280px;
  text-align: center;
}

.faq-description {
  margin: 24px 0px;
}





.accordion {
  margin: 0px auto;
  cursor: pointer;
  transition: 0.4s;
  max-width:1280px;
}

.accordion .container {
  position: relative;
  margin: 24px 0px;
  background-color: var(--color-bg-container);
  border-radius: 8px;
  padding: 0px 24px;
}

.accordion .container:hover {
  color: var(--color-text-accent);
}

.accordion .label {
  position: relative;
  text-align: left;
  padding: 24px 0px;
}


.accordion .label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 24px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  background: transparent;
  height: 0;
  text-align: left;
  overflow: hidden;
  transition: 0.5s;
}

.accordion .container.active .content {
  height: 160px;

@media (max-width: 768px) {
  height: 240px;
  }
}

.accordion .container.active .label::before {
  content: '-';
  font-size: 24px;
}






/* back to top */

.backtotop {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}


.icon {
  stroke: var(--color-text-secondary);
}

.icon:hover {
  stroke: var(--color-primary);
}

/* John Hancock */
.jancock {
  color: var(--color-text-secondary);
  text-align: center;
}

/* Footer */
footer {
  margin: 0 auto;
  margin-top: 72px;
  padding-bottom: 144px;
}






/* Slider Container Styles */
.slider-container {
  width: 100%;
  background-color: var(--color-bg-accent);
  overflow: hidden;
  position: relative;
  padding: 16px 0px;
}


/* Text Slider Styles */
.slider-text {
  display: flex;
  width: 200%;
  animation: slide 20s linear infinite;
}


/* Individual Text Styles */
.slider-text p {
  margin: 0 50px; 
  font-size: 40px;
  font-weight: 600;
  color: var(--color-primary);
  white-space: nowrap;
  text-align: center;
}





/* Smooth infinite scrolling animation */
@keyframes slide {
  0% {
    transform: translateX(0);  /* Start with both sets aligned */
  }
  25% {
    transform: translateX(-25%); /* Move to the left as the first set starts exiting */
  }
  50% {
    transform: translateX(-50%); /* Halfway point, first set almost fully out */
  }
  75% {
    transform: translateX(-75%); /* Move further left, second set entering view */
  }
  100% {
    transform: translateX(-100%); /* Fully scroll to the left, second set takes full view */
  }
}





/* Floating icon container */
.palette-floating-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  width: 64px;
  height: 64px;
  display: inline-block;
}

/* Floating icon */
.palette-floating-icon {
  background-color: var(--color-bg-container);
  color: var(--color-primary); /* This will affect the SVG fill color */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Circle */
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow-hover);
  cursor: pointer;
  transition: background-color var(--transition-duration), transform var(--transition-duration);
}

/* Hover effect for the icon */
.palette-floating-icon:hover {
  background-color: var(--color-primary);
  transform: scale(1.1); /* Slight zoom effect */
}

/* SVG Styling */
.palette-floating-icon svg {
  width: 28px; /* Adjust to your preference */
  height: 28px;
  fill: currentColor; /* Ensures it inherits the `color` property */
  transition: fill var(--transition-duration);
}

.palette-floating-icon:hover svg {
  color: var(--color-bg); /* Changes the SVG fill color on hover */
}

/* Palette options container */
.palette-options {
  display: none; /* Hidden initially */
  position: absolute;
  bottom: 80px;
  left: 0;
  background-color: var(--color-bg-container);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-hover);
  padding: 12px;
  z-index: 9999;
  opacity: 0;
  transition: opacity var(--transition-duration);
  flex-direction: column;  /* Stack the color boxes vertically */
  align-items: center;  /* Center the color boxes */
}

/* Show the options when the container is active (clicked) */
.palette-floating-container.active .palette-options {
  display: flex;
  opacity: 1; /* Fade in options */
}

/* Individual color boxes */
.palette-box {
  display: block; /* Ensures the boxes are stacked vertically */
  width: 40px;
  height: 40px;
  margin: 4px 0;  /* Space between boxes */
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: transform var(--transition-duration);
}

.palette-box:hover {
  transform: scale(1.2); /* Slight zoom effect on hover */
}

/* Optionally, add a border or shadow for better visibility */
.palette-box:active {
  box-shadow: var(--shadow-hover);
}





/* Floating badge container */
.floating-badge {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}


/* Shared styles for the SVGs */
.floating-badge svg {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent interaction with the SVG */
  fill: #fff; /* Default fill color */
  transition: fill var(--transition-duration, 0.3s); /* Smooth transition for fill */
}

/* Hover effect for static SVG */
.floating-badge:hover svg {
  fill: var(--color-primary); /* Apply color-bg to all SVGs on hover */
}


/* Rotating badge specific styles */
.rotating-badge {
  transform-origin: center; /* Ensure rotation happens around the center */
}







/* Styles for the custom alert modal */
.custom-alert {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: var(--color-bg-accent);
  align-items: center;
  z-index: 9999;
}

/* Modal content box */
.custom-alert-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-container);
  padding: 96px 24px;
  border-radius: 10px;
  width: 50%;
  max-width: 500px;
  box-shadow: var(--shadow-hover);
  position: relative;
}

@media (max-width: 768px) {
  .custom-alert-content {
  width: 80%;
}
}

/* SVG close icon */
.close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

/* Text styling */
.custom-alert p {
  font-size: var(--font-size-base);
  color: var(--color-text-primary);
}

.copyright-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: var(--color-primary);
  margin-bottom: 24px;
}